.accommodationGrid {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 14px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 48px;
  width: 100%;
}
