.cartButton{
  margin-top: 14px;
  background-color: var(--ontvangen-brown);
  border: none;
  padding: 7px 20px;
  color: var(--ontvangen-blue);
  font-size: 24px;
  margin-right: 10px;
  mask-image: url('/button.png');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}


.clearButton{
  margin-top: 14px;
  background-color: var(--light-green);
  color: var(--boeren-green);
  border: none;
  padding: 7px 20px;
  font-size: 18px;
}

.leeg{
  text-align: center;
}

.cartWrapper{
  max-width: calc(96vw - 150px);
  margin-left: 2vw;
  margin-top: 48px;
  .cartContent{
    display: flex;
    justify-content: space-between;
    .cartItems{
      width: 60%;
    }
    .cartTotal{
      width: 30%;
      .cartPrice{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .cartButtons{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.cartItem{
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  figure{
    padding-right: 24px;
    width: 200px!important;
    img{
      object-fit: cover;
    }
  }
  input{
    border: none;
    background-color: transparent;
    font-size: 18px;
    margin: 10px 10px 0 10px;
    color: var(--ontvangen-brown);
  }
  .cartRight{
    grid-column: span 2 / span 2;
    .cartRightFlex{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .productTitleWrapper{
      display: flex;
      justify-content: space-between;
      .productTitle{
        width: 80%;
        p{
          overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
        }
      }
      button{
        height: fit-content;
      }
    }
    .cartFooter{
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      align-items: center;
      .cartButton{
        font-size: 18px;
        mask-size: auto 100%;
        mask-position: center;
      }
    }
  }
}

@media (max-width: 1200px){
  .cartItem{
    flex-direction: column;
  }
}

@media (max-width: 768px){
  .cartWrapper{
    max-width: 100%;
    margin-left: 0;
    padding: 14px 14px;
    .cartContent{
      flex-direction: column;
      .cartItems{
        width: 100%;
      }
      .cartTotal{
        width: 100%;
        margin-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
  .cartItem{
    flex-direction: column;
    figure{
      width: 100%!important;
    }
    .cartRight{
      .productTitleWrapper{
        .clearButton{
          padding: 7px;
        }
      }
    }
  }
}