.products {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
<<<<<<< HEAD
  gap: 20px;
  
}
=======
  max-width: calc(100vw - 150px);
  padding: 24px 0 24px 24px;
  .shopItem{
    width: 31%;
    margin-right: 2%;
    margin-bottom: 30px;
    img{
      width: 100%;
      height: auto;
      aspect-ratio: 4/3;
      object-fit: cover;
    }
    h3{
      margin: 5px 0;
    }
    button{
      margin-top: 14px;
      background-color: var(--light-green);
      border: none;
      padding: 7px 20px;
      color: var(--green);
      font-weight: bold;
    }
  }
}
>>>>>>> 69a3b2853d947ca312ffbfe460f0d0a0db404040
