.accommodationPreview {
  width: 31%;
  margin: 1%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;

  .lineContainer {
    width: 100%;
    height: 37px;
    margin-bottom: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .iconWrapper {
    margin-bottom: 24px;
  }

  .iconImg {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .iconMask {
    width: 80px;
    height: 80px;
    background-color: currentColor;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  h2 {
    text-align: center;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(20px, 1.8vw, 32px);
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 10px auto;

    h2 {
      font-size: 28px;
    }
  }
}
