.container {
  position: relative;
  z-index: 100;
  position: fixed;
  bottom: 30px;
  right: 200px;

  @media (max-width: 768px) {
    right: 40px;
  }
}

.toggleButton {
  position: inherit;
  background: var(--light-green);
  border: none;

  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: var(--green);
    color: var(--light-green);
  }
}

.languageToggle {
  position: absolute;
  top: 100%;
  right: -40px;
  top: -26px;

  background: var(--light-green);
  padding: 12px;
  // border-radius: 8px;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  gap: 18px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;

  &.expanded {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .closeButton {
    all: unset;
    cursor: pointer;
  }
}

.label {
  font-size: 14px;
  color: #666;
  cursor: pointer;

  &.active {
    color: #000;
    font-weight: 500;
  }
}
