@import "../../styles/breakpoints";

.facilities {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px 0px 20px;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  // background-color: var(--light-green);

  :global(.material-symbols-outlined) {
    display: inline-block;
    visibility: visible;
  }
}

.facility {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  /* Fix width so rows center perfectly (max 4 per row) */
  flex: 0 0 80px;
  width: 80px;

  .iconWrapper {
    background-color: var(--green);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.material-symbols-outlined) {
      font-size: 60px !important;
      color: var(--light-green);
      display: inline-block !important;
    }
  }

  .label {
    font-size: 16px;
    font-weight: 400;
    max-width: 150px;
    color: var(--light-green);
  }

  .description {
    font-size: 14px;
    font-style: italic;
    opacity: 0.8;
    max-width: 150px;
    color: var(--light-green);
  }
}

@media (max-width: $breakpoint-small) {
  .facilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .facility {
    .iconWrapper {
      padding: 12px;

      :global(.material-symbols-outlined) {
        font-size: 30px !important;
      }
    }

    .label {
      font-size: 12px;
      max-width: 100%;
    }

    .description {
      font-size: 11px;
      max-width: 100%;
    }
  }
}
