@import "../../styles/breakpoints";

.facilities {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--light-green);

  :global(.material-symbols-outlined) {
    display: inline-block;
    visibility: visible;
  }
}

.facility {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;

  .iconWrapper {
    background-color: var(--green);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.material-symbols-outlined) {
      font-size: 60px !important;
      color: var(--light-green);
      display: inline-block !important;
    }
  }

  .label {
    font-size: 16px;
    font-weight: 400;
    max-width: 150px;
    color: var(--green);
  }

  .description {
    font-size: 14px;
    font-style: italic;
    opacity: 0.8;
    max-width: 150px;
    color: var(--green);
  }
}

@media (max-width: $breakpoint-small) {
  .facilities {
    gap: 30px;
    padding: 30px 14px;
  }

  .facility {
    .iconWrapper {
      padding: 15px;

      :global(.material-symbols-outlined) {
        font-size: 50px !important;
      }
    }

    .label {
      font-size: 14px;
    }

    .description {
      font-size: 12px;
    }
  }
}
