.archiveButton {
  position: fixed;
  bottom: -20px;
  left: -20px;
  padding: 30px;
  background-color: var(--light-green);
  font-size: 20px;
  color: var(--boeren-green);
  text-align: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(/cursor2.cur), auto;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  text-transform: lowercase;
  line-height: 1;
  animation: organic 5s ease-in-out infinite;
  &:hover {
    transform: scale(1.25);
  }

  &.animate {
    transform: scale(20);

    @media (min-width: 1200px) {
      transform: scale(100);
    }
    border-radius: 0;
    bottom: 50vh;
    left: 50vw;

    // Fade out the text
    > * {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    .archiveText {
      transform: scale(0.05); // 1/20 om de parent scale te compenseren
      opacity: 0;
      transition: opacity 0.2s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  // Add transition for text opacity
  > * {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .archiveText {
    display: inline-block;
    transform-origin: center;
  }
}

// Aangepaste keyframes voor een meer random organisch rand-effect
@keyframes organic {
  0% {
    border-radius: 50% 50% 50% 50%;
  }
  20% {
    border-radius: 40% 60% 55% 45%;
  }
  40% {
    border-radius: 60% 45% 40% 55%;
  }
  60% {
    border-radius: 55% 40% 60% 45%;
  }
  80% {
    border-radius: 45% 55% 60% 40%;
  }
  100% {
    border-radius: 50% 50% 50% 50%;
  }
}
