// CSS Variables
// See `_breakpoints.scss` for media query breakpoint variables.

/* Collection 1 */
:root {
  /* algemeen */
  --green: #5f6a33;
  --light-green: #dcff90;
  --grey: #d9e0de;
  --brown: #85412b;
  --yellow: #dcd737;
  --pink: #ffb7ad;

  --boeren-green: #447e58;
  --boeren-yellow: #ffd500;
  --verbinden-red: #a32700;
  --verbinden-orange: #ff5821;
  --ontvangen-brown: #470814;
  --ontvangen-blue: #b7dfff;
  --blue: #1c6679;
}

