// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import "breakpoints";
@import "css-variables";
@import "blocks";
@import "utilities";

@font-face {
  font-family: "cabinet";
  src: url(./fonts/CabinetGrotesk-Medium.woff2);
}

@font-face {
  font-family: "Archivo";
  src: url(./fonts/Archivo-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url(./fonts/Archivo-Italic-VariableFont.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--grey);
  font-family: "Archivo";
  margin: 0;
}

h1 {
  // text-transform: uppercase;
  font-family: "cabinet";
  font-size: 72px;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 24px 0;
  font-weight: 300;
  b {
    font-weight: normal;
  }
}

h2 {
  font-size: 34px;
  font-family: "cabinet";
  text-align: center;
  margin: 0;
}

p {
  font-size: 24px;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

.post {
  min-height: 100vh;
  &.interview {
    background-color: var(--green);
    color: var(--light-green);
    .related {
      background-color: var(--light-green);
      color: var(--green);
    }
  }
  &.artikelen {
    background-color: var(--ontvangen-brown);
    color: var(--ontvangen-blue);
    .related {
      background-color: var(--ontvangen-blue);
      color: var(--ontvangen-brown);
    }
  }
  &.podcast {
    background-color: var(--brown);
    color: var(--pink);
    .related {
      background-color: var(--pink);
      color: var(--brown);
    }
  }
  &.actueel {
    background-color: var(--ontvangen-blue);
    color: var(--blue);
    .related {
      background-color: var(--blue);
      color: var(--ontvangen-blue);
    }
  }
  padding-top: 24px;
  // padding-bottom: 100px;
}

#archiveFooter {
  width: 100%;
}

.post-wrapper {
  padding: 0 14px 24px 14px;
  max-width: 900px;
  margin: auto;
  position: relative;
  // min-height: 100vh;
  h2 {
    margin-top: 60px;
  }
  .content {
    margin-top: 100px;
    margin-bottom: 0;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

figure {
  width: 100% !important;
  height: auto;
  padding: 24px 0;
}

figcaption {
  font-size: 75%;
}

strong {
  font-weight: 400;
}

.content-wrapper {
  padding: 0 14px 24px 14px;
  max-width: calc(100vw - 220px - 50px);
  width: 100%;
  position: relative;
  margin-left: 220px;
  margin-right: auto;
  h2 {
    margin-top: 60px;
  }
  .content {
    margin-top: 100px;
    margin-bottom: 0;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  figure {
    width: 100% !important;
    height: auto;
  }
  figcaption {
    font-size: 75%;
  }
}

.wp-video {
  width: 100% !important;
  padding: 24px 0;
}

iframe,
video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

img {
  min-width: 100%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-item {
  &.interview {
    background-color: var(--green);
    color: var(--light-green);
    & .img-wrapper {
      background-color: var(--green);
      &:before {
        background-color: var(--light-green);
      }
    }
  }
  &.artikelen {
    background-color: var(--ontvangen-brown);
    color: var(--ontvangen-blue);
    & .img-wrapper {
      background-color: var(--ontvangen-brown);
      &:before {
        background-color: var(--ontvangen-blue);
      }
    }
  }
  &.podcast {
    background-color: var(--brown);
    color: var(--pink);
    & .img-wrapper {
      background-color: var(--brown);
      &:before {
        background-color: var(--pink);
      }
    }
  }
}

.home {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  background-color: var(--boeren-green);
  color: var(--ontvangen-blue); // Revert to specific color
  padding-bottom: 100px;
  .slick-slider .slick-next {
    right: 30px;
  }
  blockquote p {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 52px;
    font-weight: 300;
  }
  .post-grid {
    justify-content: center;
    left: 0;
    max-width: 100%;
    padding-bottom: 48px;
  }

  &.light {
    color: var(--blue); // Revert to specific color
  }
}

.introText {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 48px;
}

.cart-amount {
  position: absolute;
  top: 7vh;
  right: 1vw;
  z-index: 999;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  h1,
  #button {
    width: fit-content;
    margin: 0 24px;
  }
}

//bestellen
.parent-184 {
  background-color: var(--ontvangen-blue);
  color: var(--ontvangen-brown);
  #button {
    background-color: var(--ontvangen-brown);
    color: var(--ontvangen-blue);
    &.active{
      opacity: 0.7;
    }
  }
  #bg {
    background-color: var(--ontvangen-brown);
  }
}

.bestellen{
  .filter{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 150px;
    #button{
      margin: 0 5px 24px 5px;
      font-size: 18px;
    }
  }
}

.home {
  .sections {
    color: var(--light-green);
  }
}

//beleven
.parent-1602,
.current-1602 {
  background-color: var(--brown);
  color: var(--light-green);
  #bg {
    background-color: var(--light-green);
  }
}

//leren
.parent-1353,
.current-1353 {
  background-color: var(--green);
  color: var(--ontvangen-blue);
  #bg {
    background-color: var(--ontvangen-blue);
  }
}

//huren
.parent-1351,
.current-1351 {
  background-color: var(--ontvangen-blue);
  color: var(--ontvangen-brown);
  #bg {
    background-color: var(--ontvangen-brown);
  }
}

//bomen
.parent-1349,
.current-1349 {
  background-color: var(--boeren-green);
  color: var(--light-green);
}

//investeren
.parent-1229,
.current-1229 {
  background-color: var(--ontvangen-blue);
  color: var(--blue);
  #bg {
    background-color: var(--blue);
  }
}

//contact
.partent-1510,
.current-1510 {
  background-color: var(--pink);
  color: var(--brown);
  #bg {
    background-color: var(--brown);
  }
}

//overnachten
.parent-1501,
.current-1501 {
  background-color: var(--green);
  color: var(--light-green);
}

.artikelen #bg {
  background-color: var(--ontvangen-blue);
}

.podcast #bg {
  background-color: var(--pink);
}

.text h1 {
  padding-top: 48px;
}

.sections {
  // background-color: var(--boeren-green);
  .textSection {
    padding: 48px 0 0 0;
    font-size: 24px;
    line-height: 1.3;
    // color: var(--light-green);
    font-weight: 100;
    blockquote p {
      font-size: 36px;
    }
    .text-wrapper {
      padding-bottom: 48px;
    }
    div {
      max-width: 900px;
      margin: auto;
    }
    .center {
      margin: auto;
      display: block;
      margin-bottom: 48px;
      text-align: center;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: center;
      padding: 24px 0;
      margin-bottom: 24px;
      .card {
        width: 20%;
        position: relative;
        margin: 14px;
        height: fit-content;
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 3/4;
          object-fit: cover;
        }
        h3 {
          margin: 5px 0;
          text-align: center;
          font-weight: 300;
        }

        .functionAtFarm {
          // background-color:green;
          text-align: center;
        }
        .contactWithFarmer {
          // background-color: red;
          text-align: center;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

main {
  min-height: 100vh;
}

//slick slider
.slick-slider {
  max-height: 65vh;
  .slick-slide {
    height: 100% !important;
  }
  .slick-prev {
    z-index: 999;
    left: 14px;
    &:before {
      content: "<";
      color: var(--light-green);
      opacity: 1;
      font-size: 30px;
      font-family: inherit;
      background-color: var(--light-green);
      color: var(--boeren-green);
      padding: 5px 10px;
    }
  }

  .slick-next {
    z-index: 999;
    right: 180px;
    &:before {
      content: ">";
      color: var(--boeren-green);
      opacity: 1;
      font-size: 30px;
      background-color: var(--light-green);
      font-family: inherit;
      padding: 5px 10px;
    }
  }
}
.post .slick-slider .slick-next {
  right: 14px;
}

@media (max-width: $breakpoint-small) {
  //slick slider
  .slick-slider {
    .slick-prev {
      z-index: 999;
      left: 14px;
    }

    .slick-next {
      z-index: 999;
      right: 30px;
    }
  }
  .post .slick-slider .slick-next {
    right: 30px;
  }

  .home {
    margin-right: 0;
    blockquote {
      margin: 0;
      p {
        font-size: 30px;
      }
    }
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  h2 {
    font-size: 28px;
  }
  .introText {
    padding-left: 14px;
    padding-right: 14px;
    max-width: 100%;
  }
  .sections .textSection .cards {
    .card {
      width: 100%;
    }
  }
  .sections .textSection {
    padding: 0 14px;
    blockquote {
      margin: 0;
      p {
        font-size: 30px;
      }
    }
  }
  .content-wrapper {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .cart-amount {
    right: 12vw;
  }
  .post-wrapper {
    h1 {
      margin-top: 80px;
    }
  }
}

// Styling tommy booking support

body {
  .tommy-zeb-left.ng-scope {
    background-color: var(--light-green);
    color: var(--green);
    font-family: "Archivo";
    border-radius: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--green);
    }

    .tommy-zeb-update {
      background-color: var(--green);
      color: var(--light-green);
      border-radius: 0;
    }
  }

  .tommy-zeb-wrapper {
    .tommy-zeb-result.ng-scope {
      background-color: var(--light-green);
      border-radius: 0;
    }
    .tommy-zeb-result-label.ng-binding {
      color: var(--green);
    }
    .tommy-zeb-result-description {
      color: var(--green);
    }

    .tommy-zeb-btn {
      background-color: var(--green);
      color: var(--light-green);
    }
    .tommy-zeb-btn:hover {
      background-color: var(--boeren-green);
    }

    .tommy-zeb-result-price.ng-binding {
      color: var(--green);
    }
  }

  .tommy-zeb-result-details {
  }

  .tbs-legenda {
    background-color: var(--light-green);
    color: var(--green);
    border: none;
  }

  .tbs-btn-success {
    color: var(--green);
    background-color: var(--light-green);
    border: none;
    border-radius: 0;
  }

  .tbs-calendar .tbs-day.tbs-beschikbaar {
    // background-color: var(--boeren-green);
    // border: 1px solid var(--grey);
  }
  .tbs-calendar .tbs-day.tbs-beschikbaar:hover {
    // background-color: var(--green);
  }

  .tbs-day.tbs-bezet {
    // background-color: var(--verbinden-orange);
  }

  .tbs-btn-info {
    color: #fff;

    background-color: var(--light-green);
    color: var(--green);
  }

  .tbs-btn-block {
    border: none;
    border-radius: 0;
  }

  .tbs-text-muted{
    color: var(--grey);
  }
}
// Styling tommy booking support
