.callToActionButton {
  position: relative;
  display: inline-block;
}

.svg {
  display: block;
  width: 500px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-9); // Adjust the color as needed
  text-align: center;
  font-size: 1.2rem;
  width: 500px;
}
