.callToActionButton {
  position: relative;
  display: block;
  mask-image: url('/button.png');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  width: fit-content;
  height: fit-content;
  padding: 10px 40px;
  background-color: var(--light-green);
  margin: auto;
  margin-top: 48px;
}


.text {
  color: var(--green); // Adjust the color as needed
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "cabinet";
}

@media (max-width: 768px) {
  .svg{
    transform: scale(0.8);
    height: fit-content;
  }
  .text{
    font-size: 1.5rem;
  }
}