@import "../../../styles/breakpoints";

.header {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--light-green);
  color: var(--green);
  z-index: 9;
  transition: all 0.4s ease;
  a {
    text-decoration: none;
  }
  .menuItems {
    width: 90%;
    margin: auto;
    transition: none;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 24px;
  }
  .menuItem{
    &:hover{
      .children{
        opacity: 1;
        height: fit-content;
      }
    }
  }
  .label {
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 0;
    font-size: 18px;
  }
  .imgMask {
    background-color: var(--green);
    width: 100%;
    margin: 0;
    height: 8vh;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center bottom;
    display: block;
    margin-top: 10px;
  }
  .children {
    // display: none;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s ease;
    .child {
      width: 100%;
      cursor: pointer;
    }
    .label {
      border: none;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .arrow{
    font-size: 40px;
    width: 50px;
    height: 50px;
    display: none;
    text-align: right;
    padding-right: 5px;
    background-color: var(--light-green);
    &:after{
      content: '☰';
    }
  }
  &.show .arrow{
    &:after{
      content: '✕';
      font-size: 30px;
      padding-right: 5px;
    }
  }
  @media (max-width: $breakpoint-small) {
    margin-right: -150px;
    .arrow {
      margin-left: -50px;
      display: block;
    }
    .menuItems{
      margin-top: -40px;
      .children{
        display: none;
      }
      &:hover{
        .children{
          height: 0;
          display: none;
        }
      }
    }
    &.show {
      margin-right: 0;
      width: 50vw;
    }
  }
}
