@import "../../../styles/breakpoints";

.header {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--light-green);
  color: var(--green);
  z-index: 9;
  transition: all 0.4s ease;
  a {
    text-decoration: none;
    text-transform: lowercase;
    &:hover{
      font-weight: 500;
    }
  }
  .menuItems {
    width: 90%;
    margin: auto;
    transition: none;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    overflow-y: auto;
  }
  .menuItem {
    @media (min-width: $breakpoint-small) {
      &:hover {
        .children {
          opacity: 1;
          height: fit-content;
        }
      }
    }
  }
  .label {
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 0;
    font-size: 2vh;
    font-size: clamp(10px, 2vh, 22px);
    text-transform: lowercase;
    &:hover{
      font-weight: 500;
    }
  }
  .imgMask {
    background-color: var(--green);
    width: 100%;
    margin: 0;
    height: 8vh;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center bottom;
    display: block;
    margin-top: 10px;
  }
  .children {
    // display: none;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s ease;
    .child {
      width: 100%;
      cursor: url(/pointer.png), auto;
    }
    .label {
      border: none;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .arrow {
    font-size: 40px;
    width: 50px;
    height: 50px;
    display: none;
    text-align: right;
    padding-right: 5px;
    background-color: var(--light-green);
    &:after {
      content: "☰";
      align-self: center;
    }
  }
  &.show .arrow {
    &:after {
      content: "✕";
      font-size: 30px;
      padding-right: 5px;
    }
  }
  &.isArchive {
    margin-right: -150px;
    .arrow {
      margin-left: -50px;
      display: block;
    }
    .menuItems {
      margin-top: -40px;
      .children {
        display: none;
      }
      &:hover {
        .children {
          height: 0;
          display: none;
        }
      }
    }
    &.show {
      margin-right: 0;
      width: 150px;
    }
  }
  .backButton {
    display: none; // Hide by default on all screens
  }
  @media (max-width: $breakpoint-small) {
    margin-right: -150px;
    .arrow {
      margin-left: -50px;
      display: block;
    }
    .menuItems {
      margin-top: -40px;
      position: relative;
      transition: all 0.5s ease-in-out;
      &.showSubmenu {
        .menuItem:not(.active) {
          transform: translateX(-100%);
          opacity: 0;
          pointer-events: none;
        }
        .active {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          width: 90%;
          opacity: 1;
          .imgMask {
            height: 15vh;
            margin-bottom: 15px;
          }
          .label {
            font-size: 28px;
          }
          .children {
            display: flex;
            height: auto;
            opacity: 1;
            margin-top: 20px;
            transform: translateX(0);
            transition: all 0.5s ease-out 0.2s;
            .label {
              font-size: 22px;
              margin-top: 12px;
              margin-bottom: 12px;
            }
          }
        }
      }
      .menuItem {
        transition: all 0.5s ease-out;
        transform: translateX(0);
      }
    }
    .menuItem {
      &:hover .children {
        opacity: 0;
        height: 0;
      }
      position: relative;
      &.active .children {
        position: relative;
        background: var(--light-green);
      }
      .children {
        transform: translateX(30px);
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
      }
    }
    .backButton {
      display: none; // Initially hidden on mobile too
      padding: 10px;
      margin-bottom: 15px;
      cursor: url(/pointer.png), auto;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2;
      &.visible {
        display: block; // Only show on mobile when visible class is present
      }
    }
    &.show, &.isArchive.show {
      margin-right: 0;
      width: 70vw;
      .menuItems {
        height: 100vh;
        overflow-y: auto;
      }
    }
    
  }
}
