@import "../../styles/breakpoints";

.component {
  max-width: calc(100% - 150px);
  line-height: 1.6875;
  padding: 0 14px;
  padding-bottom: 24px;
  div {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }

  @media screen and (max-width: $breakpoint-small) {
    width: 100%;
    max-width: 100%;
    padding: 0 14px;
  }

  :global {
    // Scope WordPress block styles within ContentWrapper.
    @import "../../styles/blocks";

    * {
      max-width: 100%;
    }

    figure {
      margin-left: 0;
      margin-right: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 4.8rem 0;
    }

    strong {
      font-weight: 500;
    }

    a {
      color: var(--wpe--link--color);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--wpe--link--color);
        text-decoration: none;
      }
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      max-height: 70vh;
      object-fit: contain;
      object-position: center;
      padding: 14px 0;
    }

    .alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    code,
    pre {
      color: var(--color-white);
      background: var(--color-black);
    }

    code {
      padding: 0.25rem 0.5rem;
    }

    pre {
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
    }

    iframe.transparent {
      mix-blend-mode: multiply;
      // filter: invert(1);
      border: none;
      // filter:  hue-rotate(30deg);
      height: 900px;
    }

    iframe.motivations {
      mix-blend-mode: multiply;
      border: none;
      max-height: 800px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead th {
      border-bottom: 1px solid var(--wpe--color--border);
      padding-bottom: 0.5em;
    }

    th {
      padding: 0.4rem 0;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid var(--wpe--color--border);
    }

    td {
      padding: 0.4em;
    }
  }
}
