.contactForm {
  --form-padding: 2rem;
  --form-max-width: 600px;
  --input-height: 45px;
  --primary-color: var(--form-text-color, var(--green, #5f6a33));
  --text-color: var(--form-text-color, var(--green, #5f6a33));
  --input-field-background-color: var(
    --form-background-color,
    var(--light-green)
  );
  padding: var(--form-padding);
  max-width: var(--form-max-width);
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 1rem;
  color: var(--input-field-background-color);
  font-family: "cabinet";
  text-align: center;
  font-size: 24px;
}

// .container{
//   background: none  !important;
// }

.formContainer {
  display: flex !important;
  flex-direction: column;
  gap: 1rem !important;
  background: none !important;

  // background: #fff;
  //   margin: 0 auto;
  //   padding: 17px;
  //   display: inline-block;
  //   width: 100%;
}

.form{
  display: flex !important;
  flex-direction: column;
  gap: 1rem !important;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  font-family: "Archivo";
  background-color: var(--input-field-background-color);
  color: var(--text-color);

  &:focus {
    outline: none;
    border-color: var(--text-color);
  }
  &::placeholder {
    color: var(--text-color);
    text-transform: lowercase;
  }
}

.input,
.select {
  height: var(--input-height);
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.button {
  height: var(--input-height);
  padding: 0 2rem;
  background-color: var(--input-field-background-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 1rem;
  cursor: url(/pointer.png), auto;
  transition: background-color 0.3s;
  // border

  &:hover {
    // background-color: var(--text-color);
    opacity: 0.8;
  }
}

.success {
  text-align: center;
  // color: var(--primary-color);
  margin-top: 1rem;
}
