@import 'styles/breakpoints';


.component {
  color: var(--light-green);
  background: var(--green);
  padding-top: 24px;
  padding-bottom: 24px;
  width: calc(100vw - 75px);
  position: relative;

  @media (max-width: $breakpoint-small) {
    width: 100%;
  }
}

.copyright {
  margin: 2rem 0;
  text-align: center;
}

.footerText {
  text-align: center;

  p {
    font-size: 18px;
  }
}

.lenteland {
  position: absolute;
  bottom: 24px;
  right: 60px;
  width: 180px;
  max-width: 30vw;
  height: 60px;
  .maskImg {
    width: 100%;
    height: 100%;
    background-color: var(--light-green);
    mask-image: url(/lenteland.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}