@import "../../styles/breakpoints";

.title {
  margin-top: 48px;
}

.accommodationIconWrapper {
  margin: -20px auto 0;
  width: 95px;
  height: 95px;

  @media (min-width: $breakpoint-small) {
    width: 120px;
    height: 120px;
  }
}

.accommodationIconImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
