.container {
  width: calc(100% - 150px);
  display: flex;
  /* position: relative; */
  /* margin: 0 auto; */
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-right: 0;
    padding: 0 14px;
  }
}
