// CSS Variables
// See `_breakpoints.scss` for media query breakpoint variables.

/* Collection 1 */
:root {
  /* algemeen */
  --green: #5F6A33;
  --light-green: #DCFF90;
  --grey: #D9E0DE;
  --brown: #85412B;
  --yellow: #DCD737;
  --pink: #FFB7AD;

  --boeren-green: #447E58;
  --boeren-yellow: #FFD500;
  --verbinden-red: #A32700;
  --verbinden-orange: #FF5821;
  --ontvangen-brown: #470814;
  --ontvangen-blue: #B7DFFF;
  --blue: #1C6679;
}
