// CSS Variables
// See `_breakpoints.scss` for media query breakpoint variables.

/* Collection 1 */
:root {
  /* Mode 1 */
  /* color */
  --yellow: #dcd737;
  --grey: #d9e0de;
  --light-green: #447e58;
  --dark-red: #470814;
  --dark-green: #5f6a33;
  --red: #a23700;
  --color-2: #008978;
  --color-3: #c69f51;
  --color-4: #ffd500;
  --color-5: #ff5821;
  --color-6: #b7dfff;
  --color-7: #85412b;
  --color-8: #0e6683;
  --color-9: #dcff90;
}
