// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import "breakpoints";
@import "css-variables";
@import "blocks";
@import "utilities";

@font-face {
  font-family: "cabinet";
  src: url(./fonts/CabinetGrotesk-Medium.woff2);
}

@font-face {
  font-family: "Archivo";
  src: url(./fonts/Archivo-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url(./fonts/Archivo-Italic-VariableFont.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  font-family: "Archivo";
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-family: "cabinet";
  font-size: 72px;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 24px 0;
}

h2 {
  font-size: 34px;
  font-family: "cabinet";
  text-align: center;
  margin: 0;
}

p {
  font-size: 24px;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

.post {
  &.interview {
    background-color: var(--green);
    color: var(--light-green);
  }
  &.artikelen {
    background-color: var(--ontvangen-brown);
    color: var(--ontvangen-blue);
  }
  &.podcast {
    background-color: var(--brown);
    color: var(--pink);
  }
  padding-top: 24px;
  padding-bottom: 100px;
}

.content-wrapper {
  max-width: 900px;
  margin: auto;
  position: relative;
  h2 {
    margin-top: 60px;
  }
  .content {
    margin-top: 100px;
    margin-bottom: 0;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  figure{
    width: 100%!important;
    height: auto;
  }
  figcaption{
    font-size: 75%;
  }
}

.wp-video {
  width: 100% !important;
  padding: 24px 0;
}

iframe,
video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

img {
  min-width: 100%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-grid {
  max-width: calc(100vw - 275px);
  position: relative;
  left: 200px;
  padding: 0 14px;
  display: flex;
  flex-wrap: wrap;
  .post-item {
    width: 31%;
    margin: 1%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.interview {
      background-color: var(--green);
      color: var(--light-green);
      & .img-wrapper {
        background-color: var(--green);
        &:before {
          background-color: var(--light-green);
        }
      }
    }
    &.artikelen {
      background-color: var(--ontvangen-brown);
      color: var(--ontvangen-blue);
      & .img-wrapper {
        background-color: var(--ontvangen-brown);
        &:before {
          background-color: var(--ontvangen-blue);
        }
      }
    }
    &.podcast {
      background-color: var(--brown);
      color: var(--pink);
      & .img-wrapper {
        background-color: var(--brown);
        &:before {
          background-color: var(--pink);
        }
      }
    }

    .img-wrapper {
      position: relative;
    }
    .img-wrapper img {
      filter: grayscale(100%) contrast(1);
      height: 100%;
      max-width: 100%;
      mix-blend-mode: lighten;
      object-fit: cover;
      position: relative;
      width: 100%;
    }
    .img-wrapper:before {
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      opacity: 0.75;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 20px;
    }
    h2 {
      text-align: left;
      margin-bottom: 24px;
      line-height: 1;
      margin-top: 14px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}

.home {

  display: flex;
  flex-direction: column;

  blockquote p{
    i{
      font-size: 30px;
    }
    font-size: 18px;
    padding: 24px 0;
    &:nth-child(2){
      text-align: right;
    }
  }
  .post-grid{
    left: 0;
    max-width: 100%;
    padding-bottom: 48px;
  }
}


.introText{
  max-width: 900px;
  margin: auto;
  padding-top: 48px;
}

.sections{
  .textSection{
    padding: 48px 0 92px 0;
    &:nth-child(1){
      background-color: var(--boeren-green);
    }
    &:nth-child(2){
      background-color: var(--ontvangen-blue);
    }
    div{
      max-width: 900px;
      margin: auto;
    }
    .cards{
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: center;
      padding: 24px 0;
      .card{
        width: 20%;
        position: relative;
        margin: 14px;
        img{
          width: 100%;
          height: 100%;
          aspect-ratio: 3/4;
          object-fit: cover;
        }
      }
    }
  }
}

main{
  min-height: 100vh;
}

blockquote p{
  font-size: 48px;
  padding: 36px 0;
}