// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import "breakpoints";
@import "css-variables";
@import "blocks";
@import "utilities";

@font-face {
  font-family: "cabinet";
  src: url(./fonts/CabinetGrotesk-Medium.woff2);
}

@font-face {
  font-family: "Archivo";
  src: url(./fonts/Archivo-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url(./fonts/Archivo-Italic-VariableFont.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--grey);
  font-family: "Archivo";
  margin: 0;
}

h1 {
  // text-transform: uppercase;
  font-family: "cabinet";
  font-size: 72px;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 24px 0;
  font-weight: 300;
}

h2 {
  font-size: 34px;
  font-family: "cabinet";
  text-align: center;
  margin: 0;
}

p {
  font-size: 24px;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

.post {
  &.interview {
    background-color: var(--green);
    color: var(--light-green);
  }
  &.artikelen {
    background-color: var(--ontvangen-brown);
    color: var(--ontvangen-blue);
  }
  &.podcast {
    background-color: var(--brown);
    color: var(--pink);
  }
  padding-top: 24px;
  padding-bottom: 100px;
}

.post-wrapper {
  padding: 0 14px 24px 14px;
  max-width: 900px;
  margin: auto;
  position: relative;
  min-height: 100vh;
  h2 {
    margin-top: 60px;
  }
  .content {
    margin-top: 100px;
    margin-bottom: 0;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  figure {
    width: 100% !important;
    height: auto;
  }
  figcaption {
    font-size: 75%;
  }
}

.content-wrapper {
  padding: 0 14px 24px 14px;
  max-width: calc(100vw - 340px - 2vw);
  width: 100%;
  margin: auto;
  position: relative;
  margin-right: 1vw;
  margin-left: auto;
  h2 {
    margin-top: 60px;
  }
  .content {
    margin-top: 100px;
    margin-bottom: 0;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  figure {
    width: 100% !important;
    height: auto;
  }
  figcaption {
    font-size: 75%;
  }
}

.wp-video {
  width: 100% !important;
  padding: 24px 0;
}

iframe,
video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

img {
  min-width: 100%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-item {
  &.interview {
    background-color: var(--green);
    color: var(--light-green);
    & .img-wrapper {
      background-color: var(--green);
      &:before {
        background-color: var(--light-green);
      }
    }
  }
  &.artikelen {
    background-color: var(--ontvangen-brown);
    color: var(--ontvangen-blue);
    & .img-wrapper {
      background-color: var(--ontvangen-brown);
      &:before {
        background-color: var(--ontvangen-blue);
      }
    }
  }
  &.podcast {
    background-color: var(--brown);
    color: var(--pink);
    & .img-wrapper {
      background-color: var(--brown);
      &:before {
        background-color: var(--pink);
      }
    }
  }
}

.home {
  display: flex;
  flex-direction: column;

  blockquote p {
    i {
      font-size: 48px;
      line-height: 1.1;
    }
    font-size: 18px;
    padding: 24px 0;
    &:nth-child(2) {
      text-align: right;
    }
  }
  .post-grid {
    justify-content: center;
    left: 0;
    max-width: 100%;
    padding-bottom: 48px;
  }
}

.introText {
  max-width: 900px;
  margin: auto;
  padding-top: 48px;
}

.sections {
  // background-color: var(--boeren-green);
  .textSection {
    padding: 48px 0 92px 0;
    &:nth-child(1) {
      // background-color: var(--green);
    }
    &:nth-child(2) {
      // background-color: var(--grey);
    }
    div {
      max-width: 900px;
      margin: auto;
    }
    .center {
      margin: auto;
      display: block;
      margin-top: 48px;
      text-align: center;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: center;
      padding: 24px 0;
      margin-bottom: 24px;
      .card {
        width: 20%;
        position: relative;
        margin: 14px;
        height: fit-content;
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 3/4;
          object-fit: cover;
        }

        .functionAtFarm {
          // background-color:green;
          text-align: center;
        }
        .contactWithFarmer {
          // background-color: red;
          text-align: center;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

main {
  min-height: 100vh;
}

blockquote p {
  font-size: 48px;
  padding: 36px 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  h2 {
    font-size: 28px;
  }
  .introText {
    padding-left: 14px;
    padding-right: 14px;
  }
  .textSection p {
    padding: 0 14px;
  }
  .sections .textSection .cards {
    .card {
      width: 40%;
    }
  }
  blockquote {
    width: 905;
    margin-left: 2.5%;
    margin-right: 2.5%;
    p {
      font-size: 36px;
      width: 100%;
    }
  }
}

// Styling tommy booking support

body {
  .tommy-zeb-wrapper .tommy-zeb-left {
    background-color: var(--green);
    color: var(--light-green);
    border-radius: 0px;
  }

  .tommy-zeb-wrapper-mini button.tommy-zeb-btn {
    background-color: var(--light-green);
    color: var(--green);
  }

  .ng-scope {
    // color: var(--light-green);
  }

  .tommy-zeb-wrapper .tommy-zeb-left h1 {
    color: var(--light-green);
  }

  .tommy-zeb-wrapper * h2 {
    color: var(--light-green);
  }

  .tommy-zeb-wrapper .tommy-zeb-result.ng-scope {
    background-color: var(--green);
  }

  .tommy-zeb-wrapper .tommy-zeb-result-label.ng-binding {
    color: var(--light-green);
  }
  .tommy-zeb-result-description {
    color: var(--light-green);
  }
}
// Styling tommy booking support
