// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import 'breakpoints';
@import 'css-variables';
@import 'base';
@import 'blocks';
@import 'utilities';

body{
  background-color: var(--lime);
}

iframe{
  width: 100%;
  max-width: 600px;
  aspect-ratio: 9/16;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: multiply;
  filter: grayscale(1);
}