.sliderContainer {
  position: relative;
  overflow: hidden;
  width: 140vw;
  margin-bottom: 48px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-left: -20px;
}

.slide {
  // padding-bottom: 48px;
  // height: 500px;
  width: auto;
  img, span{
    width: 100%!important;
    height: 100%!important;
  }
}

.navigationButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }

  &.prev {
    left: 21vw;
  }

  &.next {
    right: calc(150px + 21vw);
  }
}

.dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  &.active {
    background: white;
  }
}

@media (max-width: 768px) {
  .sliderContainer{
    width: 200vw;
    margin-left:  -50vw;
  }
  .navigationButton {

    &.prev {
      left: 51vw;
    }
  
    &.next {
      right: 51vw;
    }
  }
}