.sliderContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 48px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-left: -20px;
}

.slide {
  img, span{
    width: 100%!important;
    height: 65vh!important;
    padding: 0 10px;
  }
  .textWrap{
    position: relative;
    width: 80vw;
    overflow: hidden;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 50vh;
    font-weight: 300;
  }
  blockquote{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
    max-width: 900px;
    padding-bottom: 48px;
  }
}


@media (max-width: 768px) {
  .slide {
    img, span{
      width: 100%!important;
      max-width: 100vw!important;
      height: 45vh!important;
      padding: 0 10px;
      object-fit: cover;
    }
    blockquote{
      font-size: 30px;
    }
    .textWrap{
      width: 100vw;
      padding: 0 50px;
      font-size: 18px;
    }
  }
}